.button {
    -fx-padding: 8 15 15 15;
    padding: auto;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #ac4fa0 0%, #603263 100%),
        #ac4fa0,
        #603263,
        radial-gradient(center 50% 50%, radius 100%, #ac4fa0, #603263);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-font-size: 1.5em;
    font-size: 1.5em;
    -fx-text-fill: #fdfa81;
    -fx-border-color: #b54827;
    border-color: #b54827;
    -fx-border-radius: 8;
    border-radius: 8;
}

.button:hover {
    -fx-text-fill: #588592;
}

#btnExitGame {
    -fx-padding: 8 15 15 15;
    padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(to bottom, #e4aef4 0%, #ac4fa0 100%),
        #e4aef4,
        #ac4fa0,
        radial-gradient(center 50% 50%, radius 100%, #e4aef4, #ac4fa0);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-font-size: 1.5em;
    font-size: 1.5em;
    -fx-text-fill: #f6ec4c;
}

#btnExitGame:hover {
    -fx-text-fill: #588592;
}

#txtBack {
    -fx-fill: #f9ef77;
    fill: #f9ef77;
}

#txtBack:hover {
    -fx-fill: #588592;
}
